fastapi
uvicorn
sqlalchemy
pydantic
pydantic-settings
python-dotenv
python-jose[cryptography]
passlib[bcrypt]
bcrypt
httpx
google-genai
google-generativeai
slowapi
python-multipart
email-validator
reportlab
pypdf
pillow
requests
aiohttp
edge-tts
python-jose
pdfplumber
iyzipay
PyJWT
